.side-bar {
  width: 360px;
  .icon {
    height: 40px;
    width: 34px;
    cursor: pointer;
  }
  .wrap-list {
    position: relative;
    overflow: hidden;
    transform: translateY(-160%);
    transition-duration: 0.4s;
    .list {
      ul {
        padding-left: 0;
      }
      li {
        list-style: none;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(49, 47, 47);
        color: #fff;
        margin-bottom: 2px;
        padding: 10px;
        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 21px;
          color: #fff;
        }
      }
    }
  }

  .wrap-list.active {
    transform: translateY(0%);
  }
}

@media (max-width: 768px) {
  .side-bar {
    width: 100%;
  }
}
